@import "tailwindcss";

body {
  background: "white";
  font-family: 'Poppins', sans-serif;

}

@keyframes modalFade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modal {
  animation: modalFade 0.3s ease-out forwards;
}